/* Empty. Add your own CSS if you like */
ion-slide-box {
 background: black;
}

.box {
 width: 100%;
 height: 100%;
}
.blue {
 background: #307EFA ;
}

.yellow {
 background: #E6F142 ;
}

.pink {
 background: #FF3BF0 ;
}
