{{input type='checkbox' name='radio-group' checked=checked}}
<div class="item-content disable-pointer-events">
  <span>{{yield}}</span>
</div>
<i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
