{{#link-to 'item.show' class="item-content" style=transformOutput}}
  {{yield}}
{{/link-to}}

<div class="item-options invisible">
  {{#each optionButtons as |button|}}
    {{view context=button.context template=button.template class=button.kindClass}}
  {{/each}}
</div>
